{% extends 'base.html' %}

{% block title %} home {% endblock title %}
  
{% block content %} 
	<div class="pattern_bg">
    <div class="pattern_box">
      <div class="pattern_box_icon"></div>
      <div class="pattern_content">
        <h1 style="float: left"> <span class="blue">¿Quiénes somos?</span></h1><br><br>
		<p class="pat"> Somos un hospital universitario fundado en el año 2017 y perteneciente a la red de Hospitales de <b><span class="blue">Servicio Salud</span></b> (HSP). Abarcamos la práctica totalidad de las especialidades médicas y quirúrgicas y desarrollamos actividades en el ámbito de la Asistencia, la Investigación y la Docencia, ya sea directamente o a través de empresas vinculadas.</p>
      </div>

    </div>
    <div class="pattern_box">
      <div class="pattern_box_icon"></div>
      <div class="pattern_content2">
		<p class="pat"> Regístrese en nuestra página web como <b><span class="blue">médico</span></b> y podrá lanzar consultas, conocer el número de enfermos, enviar informes médicos... e indicar a un paciente el tratamiento que debe seguir.</p>
		<br>
		<p class="pat"> Regístrese en nuestra página web como <b><span class="blue">paciente</span></b> para poder consultar el historial médico, el tratamiento a seguir, contactar con el médico...</p>
      </div>
    </div>
  </div><br>
  <p style="float: right">Copyright © 6 de junio de 2017  &#8226  Sistemas Web  &#8226  Yue Erro e Itziar Egiluz</p>
  <br>
{% endblock content %}  
